{% from 'bootstrap/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog!!</title>
    {% endif %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('main.index', '主页') }}
            {% if current_user.is_anonymous %}
                {{ render_nav_item('auth.login', '登录') }}
            {% else %}
                {{ render_nav_item('main.user', '个人主页', username=current_user.username) }}
                {{ render_nav_item('auth.logout', '注销') }}
            {% endif %}
            {{ render_nav_item('main.explore', '发现') }}
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>

{{ bootstrap.load_js() }}
</body>
</html>