{% from 'bootstrap/nav.html' import render_nav_item %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog!!</title>
    {% endif %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', '主页') }}
            {{ render_nav_item('login', '登录') }}
            {{ render_nav_item('user', '个人主页', username=current_user.username) }}
            {{ render_nav_item('logout', '注销') }}
            {{ render_nav_item('explore', '发现') }}
        </div>
    </nav>

    {% block content %}{% endblock %}
</div>

{{ bootstrap.load_js() }}
</body>
</html>