{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block content %}
    <h1>用户{{ user.username }}</h1>
    <img src="{{ user.avatar() }}">
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
    {% if user.last_seen %}
        <p>{{ user.last_seen }}</p>
    {% endif %}

    <p>关注：{{ user.following.count() }}人，粉丝：{{ user.follower.count() }}人</p>

    {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile') }}">编辑个人资料</a></p>
    {% elif current_user.is_following(user) %}
        <p><a href="{{ url_for('main.unfollow', username=user.username) }}">取消关注</a></p>
    {% else %}
        <p><a href="{{ url_for('main.follow', username=user.username) }}">关注</a></p>
    {% endif %}

    {#文章#}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {{ render_pager(pagination, prev='上一页', next='下一页', username=user.username) }}
{% endblock %}